# [GENERAL]
DEVELOPER_MODE=0
LOG_SINK_DIR=log
LOG_SINK_FILE="{time}.log"
DOCUMENTS_PATH=documents
DOCUMENT_LOADER_MODE=page

# [VECTOR STORE]

# Name of your Vector Store of choice
# Currently supported Vector Stores: Chroma
VECTOR_STORE=

# Your Vector Store files will be stored in this directory
VECTOR_STORE_PERSIST_PATH=vector_store

# Name of your Vector Store collection. This is completely subjective and does not affect AI chatbot behavior.
VECTOR_STORE_COLLECTION_NAME=AIDocumentAssistant

# Vector Store embedding method. Currently supported: Ollama
EMBEDDING_METHOD=

# Model of LLM used for Vector Store embeddings
EMBEDDING_MODEL=

# How close of a match you want your Vector Store search results to be to the user query.
# Higher values means search results that are a closer match to the user query, but risk ignoring potentially relevant results.
# Suggested values: 0.2 - 0.3 | Leave it as is if you don't know what you're doing.
SIMILARITY_SEARCH_RELEVANCE_CUTOFF=0.2

# Number of matches returned when performing simillarity search on Vector Store.
# Higher values means more simillarity search results, but slower query response time.
SIMILARITY_SEARCH_RESULTS_COUNT=2

# [CHATBOT]

# Chatbot model. Currently supported: Ollama
CHAT_MODEL=

# Large language model used by the chatbot.
LLM_MODEL=

# Variability and randomness of generated responses.
# Lower values means more deterministic and focused responses.
LLM_TEMPERATURE=0